*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
.cabecalho{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background: black;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}
.nav-lista{
    padding: 28px 0;
}
.nav-lista li{
    display: inline-block;
    margin: 0 15px; 
}
.nav-lista li a{
    text-decoration: none;
    color: white;
    padding:5px 0;
    position: relative;
}
.nav-lista li a::after{
    content: '';
    background: #961d4e;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-lista li a:hover::after{
    width: 100%;
}
.botao-registrar{
    background: #961d4e;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}
.conteudo{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding-top: 50px;
}
.conteudo h1{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
}

.conteudo button{
    background: #961d4e;
    color: #fff;
    padding: 15px 40px;
    border: none;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}


.div-card{
    width: 400px;
    height: 500px;
    background-color: #C44E31;
    border-radius: 10px;
    float: left;
    margin:5px;

}

.box-cards{
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    font-weight: 600;
    padding-bottom: 80px;
}

.div-card-img img{
    width: 100%;
    height: 450px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.div-card-descricao{
    width: 100%;
    font-size: 23px;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}

.div-card-comprar{
    text-align: center;
    background-color: #F4B942;
    color: white;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    padding-top: 7px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.div-card-comprar:hover{
    background-color: #F8D48B;
}

.div-card-comprado{
    background-color: #9A6A09;
}

.div-card-comprado:hover{
    background-color: #9A6A09;
}